/.idea/.idea.InstaDummyCallBack/.idea/.gitignore
/.idea/.idea.InstaDummyCallBack/.idea/encodings.xml
/.idea/.idea.InstaDummyCallBack/.idea/indexLayout.xml
/.idea/.idea.InstaDummyCallBack/.idea/vcs.xml
/obj/
/bin/
/InstaDummyCallBack/obj/
/InstaDummyCallBack/bin/
